<!DOCTYPE html>
<html lang="nl">
    <head>
        <title> {{ title }}</title>

        {% block title %} {% endblock %}
    </head>
    <body>
        {% include "templates/components/navigation.html.twig" %}


    </body>
</html>